header
    .container
        .row.justify-content-center.justify-content-md-between.align-items-center.py-4
            .col-6.col-md-4
                h2 Panamerican
            .col-6.col-md-8
                p.text-center Menu
                     